.transactionHistory {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    border: 1px solid rgb(212, 223, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.tHead {
    text-transform: uppercase;
    background-color: rgb(123, 218, 247);
}
.tRow {
    height: 50px;
    padding: 10px;
    color:white;
    font-size: 12px;
}
