.item {
    display: flex;
    border: 1px solid rgb(212, 223, 233);
    width: 250px;
    margin-top: 10px;
    padding: 5px;
}
.avatar {
    padding-left: 10px;
}
.name {
    padding-left: 10px;
}
.status {
    background-color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 5px;
}

.isActive {
    composes: status;
    background-color: green;
}